## K Nearest Neighbors

In [1]:
import numpy as np 
from sklearn import preprocessing, neighbors
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
df = pd.read_csv("../datasets/cancer/breast-cancer-wisconsin.data.txt",header=None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [3]:
df.shape

(699, 11)

In [4]:
df[1]

0      5
1      5
2      3
3      6
4      4
      ..
694    3
695    2
696    5
697    4
698    4
Name: 1, Length: 699, dtype: int64

In [5]:
df.describe()

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [6]:
df.columns =["ID", "V1","V2","V3","V4","V5","V6","V7","V8","V9","class"]

In [7]:
df.head()

        ID  V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [8]:
df = df.drop(["ID"],1)

In [9]:
df.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0   5   1   1   1   2   1   3   1   1      2
1   5   4   4   5   7  10   3   2   1      2
2   3   1   1   1   2   2   3   1   1      2
3   6   8   8   1   3   4   3   7   1      2
4   4   1   1   3   2   1   3   1   1      2

In [10]:
Y = df["class"]
Y

0      2
1      2
2      2
3      2
4      2
      ..
694    2
695    2
696    4
697    4
698    4
Name: class, Length: 699, dtype: int64

In [11]:
df.replace("?",-9999,inplace=True)

In [34]:
X = df[["V1","V2","V3","V4","V5","V6","V7","V8","V9"]]
X

     V1  V2  V3  V4  V5  V6  V7  V8  V9
0     5   1   1   1   2   1   3   1   1
1     5   4   4   5   7  10   3   2   1
2     3   1   1   1   2   2   3   1   1
3     6   8   8   1   3   4   3   7   1
4     4   1   1   3   2   1   3   1   1
..   ..  ..  ..  ..  ..  ..  ..  ..  ..
694   3   1   1   1   3   2   1   1   1
695   2   1   1   1   2   1   1   1   1
696   5  10  10   3   7   3   8  10   2
697   4   8   6   4   3   4  10   6   1
698   4   8   8   5   4   5  10   4   1

[699 rows x 9 columns]

In [13]:
X.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9
0   5   1   1   1   2   1   3   1   1
1   5   4   4   5   7  10   3   2   1
2   3   1   1   1   2   2   3   1   1
3   6   8   8   1   3   4   3   7   1
4   4   1   1   3   2   1   3   1   1

In [14]:
Y.head()

0    2
1    2
2    2
3    2
4    2
Name: class, dtype: int64

 ## Clasificador de los K vecinos

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2) # test_size=0.2 ---> test_size del 20%

In [16]:
clf=neighbors.KNeighborsClassifier() #clasificador

In [17]:
clf.fit(X_train,Y_train)

KNeighborsClassifier()

In [18]:
accuracy = clf.score(X_test,Y_test) # parámetro de eficiencia
accuracy

0.9785714285714285

## Clasificación sin limpieza

In [4]:
df = pd.read_csv("../datasets/cancer/breast-cancer-wisconsin.data.txt",header=None)
df.replace("?",-9999,inplace=True)
df.columns =["ID", "V1","V2","V3","V4","V5","V6","V7","V8","V9","class"]

Y = df["class"]
X = df[["ID","V1","V2","V3","V4","V5","V6","V7","V8","V9"]]

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2) # test_size=0.2 ---> test_size del 20%

clf=neighbors.KNeighborsClassifier() #clasificador
clf.fit(X_train,Y_train)

accuracy = clf.score(X_test,Y_test) # parámetro de eficiencia
accuracy

0.6357142857142857

# Clasificar nuevos datos

In [44]:
# Clasificar nuevos datos a partir de el modelo 

sample_measure = np.array([4,2,1,1,1,2,3,2,1])
sample_measure

array([4, 2, 1, 1, 1, 2, 3, 2, 1])

In [42]:
sample_measure = sample_measure.reshape(-1,1)

In [43]:
predict = clf.predict(sample_measure)
predict

ValueError: query data dimension must match training data dimension